<footer>
<div class="navbar navbar-fixed-bottom">
<div class="container">
<div class="navbar-inner">
<nav>
<small class="author">
 sample_app by <span class="au">
 <a href="http://vk.com/mgthrone115">Dmitry Kukharchuk</a>
 </span>
</small>
 <ul class="nav pull-right">
 <li><%= link_to "Главная", root_path %></li>
 <li><%= link_to "Помощь", help_path %></li>
 <li><%= link_to "Связаться", contact_path %></li>
 <li><%= link_to "О сайте", about_path %></li>
 <li><%= link_to "Вход", '#' %></li>
 <li><%= link_to "Регистрация", signup_path %></li>
 </ul>
</nav>
</div>
</div>
</div>
</footer>