<footer>
<div class="navbar navbar-fixed-bottom">
<div class="container">
<div class="navbar-inner">
<nav>
<small class="author">
 sample_app by <span class="au">
 <a href="http://vk.com/mgthrone115">Dmitry Kukharchuk</a>
 </span>
</small>
 <ul class="nav pull-right">
 <li><%= link_to "Главная", "/static_pages/home" %></li>
 <li><%= link_to "Помощь", "/static_pages/help" %></li>
 <li><%= link_to "Связаться", "/static_pages/contact" %></li>
 <li><%= link_to "О сайте", "/static_pages/about" %></li>
 <li><%= link_to "Вход", "/static_pages/signin" %></li>
 <li><%= link_to "Регистрация", "/static_pages/signup" %></li>
 </ul>
</nav>
</div>
</div>
</div>
</footer>